@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(95, 27, 95);
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section {
    /* Propriedades de centralizacao vertical */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    border-radius: 15px;
    width: 250px;
    height: 500px;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#img {
    display: block;
    height: 200px;
    background: url(../img/pexels-bruno-thethe-3035998.jpg) no-repeat center center;
    background-size: cover;
}

.content {
    display: block;
    padding: 10px;
}

.content h1 {
    text-align: center;
    margin-bottom: 10px;
}

.content p {
    font-size: 0.8em;
}


/* Formulario */

form .campo {
    background-color: #5f2c82;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}


.campo i {
    color: #fff;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo input {
    background-color: rgb(214, 255, 249);
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    border: 0px;
    border-radius: 8px;

    transform: translateY(-10px);
    padding: 4px;
}

.campo input:focus-within {
    background-color: white;
    border: 0px;
}
/* Enviar o formulario */

#submit {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(84, 173, 159);
    border: 1px solid rgb(63, 133, 125);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: rgb(123, 220, 205);
    color: rgb(63, 133, 125);
}

#forgot-pass a {
    margin-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid rgb(113, 212, 200);
    border-radius: 5px;
    color: rgb(84, 173, 159);
    text-decoration: none;
}

#forgot-pass {
    position: relative;
}

#mail {
    position: absolute;
    top: 7px;
    padding-left: 4px;
}

#forgot-pass a:hover {
    background-color: rgb(98, 201, 186);
    color: white;
}

